@{
    ViewBag.Title = "IT.SERGHEY";
}
<div class="row">
    <div class="jumbotron col-md-12 jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Fluid jumbotron</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        </div>
    </div>
</div>

<div class="row">
    @{Html.RenderPartial("ContentPreview");}
</div>