
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootsrap/bootstrap.css">
    <link rel="stylesheet" href="~/css/site.css">
    <meta name="viewport" content="width=device-width" />
    <title>_AdminLayout</title>
</head>
<body>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-2 p-3"> @await Html.PartialAsync("_AdminMenuPartial")</div>
            <div class="col-md-10">@RenderBody()</div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/popper/popper.js"></script>
    <script src="~/lib/bootsrap/bootstrap.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
